<h2>Entity Types page</h2>

<!-- List all entity types -->
<table>
  <thead>
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let et of entityTypes">
      <td>{{ et.id }}</td>
      <td>{{ et.name }}</td>
      <td>
        <button (click)="selectEntityType(et)">Edit</button>
        <button (click)="deleteEntityType(et.id)">Delete</button>
      </td>
    </tr>
  </tbody>
</table>

<!-- Add new entity type -->
<div>
  <h3>Add New Entity Type</h3>
  <input [(ngModel)]="newEntityType.name" placeholder="Name" />
  <button (click)="createEntityType()">Add</button>
</div>

<!-- Edit selected entity type -->
<div *ngIf="selectedEntityType">
  <h3>Edit Entity Type</h3>
  <form (ngSubmit)="updateEntityType()">
    <label for="editName">Name:</label>
    <input
      id="editId"
      [(ngModel)]="selectedEntityType.id"
      name="editId"
      ng-readonly="true" 
      type="hidden"
      required
    />
    <input
      id="editName"
      [(ngModel)]="selectedEntityType.name"
      name="editName"
      required
    />
    <button type="submit">Save</button>
  </form>
</div>
